<!-- CREER UNE JOURNEE -->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{ heading }}
        <div
          class="page-title-subheading">
          {{ subheading }}
        </div>
      </div>
    </div>
    <div class="page-title-actions" *ngIf="player?.role === 'ADMIN' || player?.role === 'WHO_AM_I_ORGANIZER'">
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)="openModal(content, 'PLAYER')">
        <fa class="mr-2" name="plus"></fa>
        Ajouter un joueur
      </button>
      <!-- MODAL DE CREATION -->
      <div class="card-body">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header" *ngIf="type == 'DAY'">
            <h4 class="modal-title">Ajouter une journée</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-header" *ngIf="type == 'PLAYER'">
            <h4 class="modal-title">Ajoute un joueur</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="type == 'PLAYER'">
            <form [formGroup]="newPlayer">
              <label>Discord ID du joueur</label>
              <input type="text" formControlName="discordId">
            </form>
          </div>
          <div class="modal-body" *ngIf="type == 'DAY'">
            <div *ngIf="t1.controls">
              <div *ngFor="let player of t1.controls; let i = index">
                <div [formGroup]="player">
                  <label>Joueur</label>
                  <select formControlName="whoAmIPlayerName">
                    <option *ngFor="let p of getPlayerNames()">
                      {{ p }}
                    </option>
                  </select>
                  <label>Points</label>
                  <input type="number" formControlName="points">
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success" (click)="addPlayerField()">Ajouter un joueur</button>   
          </div>
          <div class="modal-footer" *ngIf="type == 'PLAYER'">
            <button type="button" class="btn btn-error" (click)="c('Close click')">Annuler</button>
            <button type="button" class="btn btn-success" (click)="addNewPlayer()">Ajouter</button>
          </div>
          <div class="modal-footer" *ngIf="type == 'DAY'">
            <button type="button" class="btn btn-error" (click)="c('Close click')">Annuler</button>
            <button type="button" class="btn btn-success" (click)="validateForm()">Ajouter</button>
          </div>
        </ng-template>
      </div>
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)="openModal(content, 'DAY')">
        <fa class="mr-2" name="plus"></fa>
        Ajouter une journée
      </button>
    </div>
  </div>
</div>

<div class="main-card mb-3 card" *ngIf="!isLoading">
  <div class="card-header">
    Classement
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Joueur</th>
        <th class="text-center">Total</th>
        <th class="text-center">Gagnés</th>
        <th class="text-center">Trouvés</th>
        <th class="text-center">Série</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of ladder; let i = index;">
          <td>{{ i + 1 }}.</td>
          <td class="row justify-content-md-center">
            <div class="col-md-auto">
              <img class="avatar" [src]="l.playerAvatar">
            </div>
            <div class="col-5 text-center">
              <div>{{ l.playerName }}</div>
              <div class="player_title" [style.color]="l.titleColor">{{ l.titleLabel }}</div>
            </div>
          </td>
          <td class="text-center">{{ l.totalPoints }}</td>
          <td class="text-center">{{ l.dayPoints }}</td>
          <td class="text-center">{{ l.totalGuessed }}</td>
          <td class="text-center">{{ l.streak }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    Journées
  </div>
  <div class="p-0 card-body" *ngIf="currentDay">
    <div class="row m-3">
      <div class="col-1" (click)="changeCurrentDay('LEFT')">
        <h1 class="text-center clickable"><i class="pe-7s-angle-left"></i></h1>
      </div>
      <div class="col-10" *ngIf="currentDay.day == 1">
        <h1 class="text-center">1ère journée</h1>
      </div>
      <div class="col-10" *ngIf="currentDay.day != 1">
        <h1 class="text-center">{{ getCurrentDay().day }}ème journée</h1>
      </div>
      <div class="col-1" (click)="changeCurrentDay('RIGHT')">
        <h1 class="text-center"><i class="pe-7s-angle-right"></i></h1>
      </div>
    </div>
    <div class="row m-3" *ngIf="getCurrentDay()">
      <div class="col-12 text-center">
        <h3 class="mb-2">Ligue 1</h3>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th class="text-center">Joueur</th>
              <th class="text-center">Points</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of currentDay.league; let i = index;">
                <td>{{ i + 1 }}.</td>
                <td class="text-center">{{ l.whoAmIPlayerName }}</td>
                <td>{{ l.points }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>