<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{ heading }}
        <div
          class="page-title-subheading">
          {{ subheading }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    Classement
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">Position</th>
        <th class="text-center">Joueur</th>
        <th class="text-center">Nombre de cartes</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of ladder; let i = index;">
          <td class="text-center">
            {{ i+1 }}
          </td>
          <td class="row text-center">
            <div class="col-12">
              {{ l.playerName }}
            </div>
            <div class="player_title col-12" [style.color]="l.titleSelectedColor">{{ l.titleSelected }}</div>
          </td>
          <td class="text-center">
            {{ l.cardCount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>