<div [class]="'app-sidebar sidebar-shadow'" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div>Cards.io</div>
  </div>
  <div class="app-sidebar-content" *ngIf="isUserConnected()">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <!-- Cartes -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-notebook"></i>
                    <span class="vsm-title">Cartes</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLink="/cards" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Mes cartes</span>
                        </a>
                      </div>
                      <div class="vsm-item" *ngFor="let collection of collections">
                        <a (click)="goToCollection(collection.id)" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">{{ collection.name }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- Échanges -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-repeat"></i>
                    <span class="vsm-title">Échanges</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLink="/trade" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Échanges</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>   
            <!-- Code -->
            <div class="vsm-item">
              <a routerLink="/code" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-keypad"></i>
                <span class="vsm-title">Code</span>
              </a>
            </div>
            <!-- Boutique -->
            <div class="vsm-item">
              <a routerLink="/shop" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-cash"></i>
                <span class="vsm-title">Boutique</span>
              </a>
            </div>
            <!-- Jeu du Logo -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-search"></i>
                    <span class="vsm-title">Jeu du Logo</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLink="/jeu-du-logo/1" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Saison 6</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/jeu-du-logo/2" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Saison 7</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/jeu-du-logo/3" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Saison 8</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/jeu-du-logo/4" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Saison 9</span>
                        </a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/jeu-du-logo/5" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Saison 10</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- Qui suis-je ? -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-search"></i>
                    <span class="vsm-title">Qui suis-je ?</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <span class="vsm-title">Saison 1</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- Classements -->
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-graph3"></i>
                    <span class="vsm-title">Classements</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLink="/ladder/0" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">Classement général</span>
                        </a>
                      </div>
                      <div class="vsm-item" *ngFor="let col of collectionsForLadder">
                        <a routerLink="/ladder/{{col.id}}" routerLinkActive="active-item" class="vsm-link">
                          <span class="vsm-title">{{ col.name }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- Admin -->
            <div class="vsm-item" *ngIf="player?.role === 'ADMIN'">
              <a routerLink="/admin" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-look"></i>
                <span class="vsm-title">Administrateur</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
